@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered-cell {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.card-saving{
  border: solid 3px #011627;
  border-radius: 10px;
  width: 30%;
  background-color: #40515D;
  margin: 5px;
  
}
.separator{
  border: solid 2px #011627;
}

.card-group{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-top: 7rem;
}
.card-saving-header{
  color: white; 
  font-weight:bold; 
  font-size: 20px;
  padding: 8px 14px 8px 14px;
  
}

.card-saving-body{
  color: white; 
  font-weight:bold; 
  font-size: 20px;
  padding: 10px 14px 10px 14px;
  margin: 20px 10px 20px 10px;
}

.no-border{
  border: none;
}

.App{
  display: flex;
  flex-direction: column;
}

.show-number-saving{
  display: flex;
  justify-content: space-around
}

.show-savings{
  width: 60%;
}
.numbers-generated{
  width: 35%;
}


/* .container-genarate-numbers{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center
} */
.card-number-body{
  text-align: center;
  height: 100%;
}

.btn-generate-number{
  margin-left: 15px;
  background-color: #40515D;
  border: solid 2.5px #011627;
  border-radius: 10px;
  width: 45%;
  color: white;
  font-weight: bold;
  height: 35px;
}

.btn-generate-number:hover{
  background-color: #011627;
}

.input-generate-number{
  width: 45%;
  background-color: #40515D;
  border: solid 2.5px #011627;
  border-radius: 10px;
  height: 35px;
  color: white;
}




.card-number{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.card-number-footer{
  width: 100%;
  height: 4rem;
  text-align: center;
  margin-top: 50px;
}
.button-save-number{
  width: 60%;
  background-color: #40515D;
  border: solid 2.5px #011627;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  height: 80%;
}

.button-save-number:hover{
  background-color: #011627;
}

.card-number-text{
  height: 15rem;
  border: #011627 solid 2px;
  border-radius: 5px;
  margin-top: 50px;
  font-size: 60px;
  width: 60%;
  place-self: center;
  align-content: center;

}

.card-number-title{
  align-self: center;
}
.container-header{
  height: 10vh;
}

.container-body{
  text-align: center;
  align-content: center;
  height: 80vh;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  
}

.container-body h1{
  font-size: 6rem;
  font-family: "Kanit";
}

.container-footer{
  background-color: #2B3035;
  height: 10vh;
  font-size: 30px;
  text-align: center;
  align-content: center;
}

.container-body .generate-number{
  
}